################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Senatwitter/.vs/Senatwitter/v15/Server/sqlite3/storage.ide-shm
/Senatwitter/.vs/Senatwitter/v15/Server/sqlite3/storage.ide-wal
/Senatwitter/.vs/config
/Senatwitter/.vs/Senatwitter/v15
